<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <title>GitLab Dashboard | {{ .title }}</title>
    <meta name="author" content="Rafael Mateus">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
    <main>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Dashboard</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="{{ .host }}" target="_blank">GitLab</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Menu
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="container col-xl-10 col-xxl-10 px-4 py-5">
        <div class="row">
          <div class="col-md-9">
            <h1>📚 Projects</h1>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Last Commit</th>
                  <th scope="col">Date</th>
                  <th scope="col">Author</th>
                </tr>
              </thead>
              <tbody>
                {{ range $project := .projects }}
                  <tr>
                    <th scope="row"><a href="{{ $project.WebURL }}" target="_blank">{{ $project.ID }}</a></th>
                    <td>{{ $project.Name }}</td>
                    <td>{{ $project.LastCommit.Title }}</td>
                    <td>{{ $project.LastCommit.CommittedDate }}</td>
                    <td>{{ $project.LastCommit.AuthorName }}</td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
          <div class="col-md-3">
            <h1>🤓 Users</h1>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                </tr>
              </thead>
              <tbody>
                {{ range $user := .users }}
                  <tr>
                    <th scope="row"><a href="{{ $user.WebURL }}" target="_blank">{{ $user.ID }}</a></th>
                    <td>{{ $user.Name }}</td>
                  </tr>
                {{ end }}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ae2c881fce.js" crossorigin="anonymous"></script>
  </body>
</html>
